@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("/assets/backround.jpg");
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.price-option h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.price-option p {
    color: #333;
    font-size: 4em;
    margin: 10px 0;
}

.price-option ul {
    list-style: none;
    padding: 0;
}

.price-option ul li {
    color: #333;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.price-option ul li::before {
    content: "\f00c"; /* Font Awesome check icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    color: #007bff;
}

.price-option button,
#toggleButton {
    background: linear-gradient(45deg, #007bff, #0056b3);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px 20px;
    transition: background 0.3s ease, transform 0.3s ease;
    padding-bottom: 10px; /* Added padding at the bottom */
}

.price-option button:hover,
#toggleButton:hover {
    background: linear-gradient(45deg, #0056b3, #003f7f);
    transform: scale(1.05);
}

.price-options-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between price options as needed */
    animation: fadeIn 1s ease-in-out;
}

.price-option {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    background-clip: padding-box;
    position: relative;
}

.price-option::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #007bff, #0056b3);
    z-index: -1;
}

.price-option:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}