body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("/assets/backround.jpg");
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  h1 {
    color: #333;
  }
  .price-option h2 {
    color: #333;
  }

  .price-option p {
    color: #333;
    font-size: 1.5em;
    margin: 10px 0;
  }

  .price-option ul {
    list-style: none;
    padding: 0;
  }

  .price-option ul li {
    color: #333;
    margin: 5px 0;
  }

  .price-option button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px 20px;
  }

  #toggleButton {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px 20px;
  }

  .price-options-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between price options as needed */
  }

  .price-option {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
